 <nav class="bg-pink-600 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-white text-2xl font-semibold">Git Search Engine</a>
</div>
</nav>

<!-- 
//serach-bar -->
<!-- <app-search-bar style="margin-top: 80px;"></app-search-bar> -->


<!-- <div class="grid h-screen place-items-center">
  <h1>welcome to {{title}} !</h1>
  <div class="font-bold text-3xl">
    Fyle Internship Challenge
  </div>
</div> --> 

<div>
  <router-outlet></router-outlet>
</div>